.contact{
    background-color:#F2F7FF;
    text-align: center;
    width: 100%;
    
    
    
    
    &>.main_container>h2
    {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size:$h2size;
    }
        
    &>.main_container>p{
        color:$p1color;
        margin-bottom: 80px;
    }
    
}

/* map configuration */
.map_and_contact{
    display: flex;
    flex-direction: row;
  
    width: 50%;
}
.map{
    position: relative;
    height: 450px;
}

.info_map{
    background-color: #FFFFFF;
    width: 60%;
    position: absolute;
    top:6px;
    left: 6px;
    border-radius: 3px;
    text-align: left;
    padding: 10px 5px;
    display: flex;
    align-items: center;

    &>span>a{
       
        text-decoration: none;
    }

    &>span>p{
        color: grey;
    }

    &>span>i{
        color:$button-color;
        font-size: 30px;
        margin-left: 50px;
       
    }
}
.photo_mini{
    &>img{width: 40px;
    height: 40px;}
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}

.zoom_buttons{
    background-color:#FFFFFF;
    position: absolute;
    right: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    height: 60px;
    width: 40px;

    &>hr{
        margin: 5px;
    }
}

.pointer{
 color: red;
 position: absolute;
 top:50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 35px;

}

/* contact configuration */



.contact_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
     &>h2{
        margin-top: 20px;
        margin-bottom: 20px;
     }
   
   
   

    &>img{
        width: 117px;
        height:41px;
    }

    &>input{
        width: 100%;
        font-size: 15px;
        border:0.001px solid #8E989F;
        border-radius: 6px;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align:start;
    }

    &>a{
        width: 10rem;
    }
}

.your_message{
    
    height: 250px;
    padding-bottom:200px ;
    font-size: 15px;
    
}

.set_form{
    height: 40px;
    border-radius: 5px;
    border: 0.1px solid #8E989F;
    padding-left: 5px;
}

.info{
    width: 500px;
    text-align: left;
    margin-top:50px;
    margin-bottom: 50px;
    &>h2{
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    &>p{
        color:$p1color;
    }
}

.social_logos{
    color: $button-color;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    

    &>i{
        border: 1px solid #8E989F;
        border-radius: 5px;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 5px;
    }
}





