footer{
    border-top:1px solid lightgray;
    font-family: 'Roboto', sans-serif;
 
}

.footer_menu{
    &>p{
        color:$p1color;
    }

    &>span>a{
        text-decoration: none;
        color: $button-color;
    }
}

.footer_set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    padding:50px;
    
}

.footer_menu{
    width: 20%;
    &>ul>li{
        list-style: none;
        color: $p1color;
        margin:15px 0px
    }

    &>ul>li:hover{
        cursor: pointer;
    }


}

.color_footer{
    background-color: #F2F7FF;
}