.popular_features{
    background-image: url(/img/14.png);
    background-color:yellow ;
    font-family: 'Roboto', sans-serif;
    padding: 60px;
}

.head_features{
    display: flex;
    flex-direction: row;
    
    &>h2{
        font-size:$h2size;
    }
}

.text_features{
    width: 75%;
}

.main_features{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.card_features{
    width: 18%;
    background-color:white ;
    margin: 5px 30px;
    padding: 8px;
    font-size: 20px;
}

